{% extends 'layout.html'%} {% block content %} {% load static %}
<section>
    <form action="{% url 'password' %}">
        <img src="{% static 'icons/candado.png' %}" alt="" class="form_logo" />
        <h1>Generador de contraseñas</h1>

        <label for="length">Seleccionar la longitud de la contraseña:</label>
        <input
            type="range"
            name="length"
            id="length"
            min="6"
            max="23"
            class="form_range"
        />

        <div class="form_checkbox">
            <label for="uppercase">Mayusculas</label>
            <input type="checkbox" name="uppercase" id="uppercase" />
        </div>

        <div class="form_checkbox">
            <label for="special">Caracteres Especiales</label>
            <input type="checkbox" name="special" id="special" />
        </div>

        <div class="form_checkbox">
            <label for="numbers">Numeros</label>
            <input type="checkbox" name="numbers" id="numbers" />
        </div>

        <button>Generar Contraseña</button>
    </form>
</section>

{% endblock %}
