{% extends 'layout.html'%} {% block content %} {% load static %}

<form action="{% url 'password' %}">
    <h1>Generador de contraseñas</h1>
    <img src="{% static 'icons/candado.png' %}" alt="" />

    <label for="length">Seleccionar la longitud de la contraseña:</label>
    <input type="range" name="length" id="length" min="6" max="23" />

    <label for="uppercase">Mayusculas</label>
    <input type="checkbox" name="uppercase" id="uppercase" />

    <label for="special">Caracteres Especiales</label>
    <input type="checkbox" name="special" id="special" />

    <label for="numbers">Numeros</label>
    <input type="checkbox" name="numbers" id="numbers" />

    <button>Generar Contraseña</button>
</form>

{% endblock %}
