{% extends 'layout.html'%} {% block content %} {% load static %}
<section>
    <div class="modal-password">
        <a href="/">
            <img
                src="{% static 'icons/previous.png' %}"
                alt=""
                class="back"
                id="back"
            />
        </a>
        <h1>La contraseña generada es:</h1>
        <div class="password_container">
            <div class="password_container-generate">
                <p id="password">{{password}}</p>
                <img
                    src="{% static 'icons/retry.png' %}"
                    alt=""
                    class="retry"
                    id="retry-button"
                />
            </div>
            <div class="password_copy" id="copy-button">
                <img src="{% static 'icons/copy.png' %}" alt="" class="copy" />
                <label for="copy">Copy</label>
            </div>
        </div>
    </div>
</section>
<script>
    const copyButton = document.getElementById("copy-button");
    const retryButton = document.getElementById("retry-button");
    const password = document.getElementById("password").innerText;

    copyButton.addEventListener("click", () => {
        navigator.clipboard
            .writeText(password)
            .then(() => {
                alert("Contraseña copiada al portapapeles");
            })
            .catch((error) => {
                console.error("Error al copiar al portapapeles: ", error);
            });
    });
    retryButton.addEventListener("click", () => {
        location.reload();
    });
</script>
<style>
    .modal-password {
        width: 600px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        padding: 50px;
        position: relative;
    }
    .back {
        width: 25px;
        background-color: none;
        filter: invert(17%) sepia(51%) saturate(2141%) hue-rotate(263deg)
            brightness(92%) contrast(94%);
        padding: 8px;
        border-radius: 16px;
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    .back:hover {
        filter: none;
        background-color: #5d246b;
    }
    .password_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
    }
    .password_container-generate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #5d246b;
        padding: 1px 20px;
        border-radius: 16px;
        width: 60%;
    }
    .retry {
        width: 24px;
        cursor: pointer;
        transition: transform 0.5s;
        filter: invert(17%) sepia(51%) saturate(2141%) hue-rotate(263deg)
            brightness(92%) contrast(94%);
    }
    .retry:hover {
        transform: rotate(50deg);
    }
    .password_copy {
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        background-color: #5d246b;
        padding: 0px 10px;
        border-radius: 16px;
        gap: 6px;
        cursor: pointer;
    }
    .password_copy > label {
        color: white;
        cursor: pointer;
    }
    .copy {
        width: 24px;
        filter: invert(100%);
        cursor: pointer;
    }
</style>
{% endblock %}
